root {
    font-size: 2vw;

}

body {
    margin: 0;

}

#screen {
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
    position: relative;
}


#game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 56.25vw;
}

#play {

    background-image: url("start.svg");
    background-repeat: no-repeat;
    width: 30vw;
    height: 20vw;
    position: absolute;
    z-index: 1;
    top: 51%;
    left: 40%;
    background-size: 70%;
    cursor: pointer;

}

#start {

    position: absolute;
    width: 100vw;
    height: 56.25vw;
    top: 0%;
    left: 0%;
    background-size: 100%;
    position: relative;
    background-image: url('baggrund1.svg');
    background-repeat: no-repeat;
    margin: auto;

}

/****************** startskærm start ********************/


#pige {

    background-image: url("pige.svg");
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 49%;
    left: 68%;
    background-size: 80%;

}

#dreng {

    background-image: url("dreng.svg");
    background-repeat: no-repeat;
    width: 15vw;
    height: 17vw;
    position: absolute;
    top: 77%;
    right: 73%;
    background-size: 70%;
}

#snemand {

    background-image: url("snemand.svg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 56%;
    left: 65%;
    background-size: 16%;
}

#titel {

    background-image: url("melt2.png");
    background-repeat: no-repeat;
    width: 60vw;
    height: 27vw;
    position: absolute;
    top: 18%;
    left: 25%;
    background-size: 90%;


}

#titel2 {

    background-image: url("melt3.png");
    background-repeat: no-repeat;
    width: 25vw;
    height: 15vw;
    position: absolute;
    top: 36%;
    left: 42%;
    background-size: 80%;


}

#settings {

    background-image: url("instillinger.svg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 89%;
    background-size: 10%;

}

#vand1 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    z-index: 4;
    top: 42%;
    left: 72%;
    background-size: 100%;
}



/******************* slut startskærm *********************/
/******************* start spilskærm *********************/

#game_background {

    height: 100vw;
    width: 100vw;

    background-image: url('baggrund2.svg');
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    background-size: 100%;


}

#snemand2 {

    height: 50vw;
    width: 50vw;
    position: absolute;
    top: 35%;
    left: 35%;

    background-image: url("snemand2.svg");
    background-repeat: no-repeat;
    margin: auto;
    background-size: 70%;


}



#tavle {

    height: 30vw;
    width: 30vw;
    position: absolute;
    background-image: url("tavle.svg");
    background-repeat: no-repeat;
    top: 64%;
    left: 82%;
    background-size: 60%;


}

#time {

    background-image: url("timeglas.svg");
    background-repeat: no-repeat;
    height: 12vw;
    width: 15vw;
    position: absolute;
    top: 2%;
    left: 93%;
    background-size: 50%;
}

#sky1 {

    background-image: url("sky1.png");
    background-repeat: no-repeat;
    width: 23vw;
    height: 11vw;
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 45%;
    background-size: 100%;


}

#sky2 {

    background-image: url("sky1.png");
    background-repeat: no-repeat;
    width: 23vw;
    height: 11vw;
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 15%;
    background-size: 100%;


}

#sky3 {

    background-image: url("sky1.png");
    background-repeat: no-repeat;
    width: 23vw;
    height: 11vw;
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 75%;
    background-size: 100%;


}

.vand {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 5%;
    background-size: 100%;
}

.vand_pos2 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 10%;
    background-size: 100%;
}

.vand_pos3 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 15%;
    background-size: 100%;
}

.vand_pos4 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 20%;
    background-size: 100%;
}

.vand_pos5 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 25%;
    background-size: 100%;
}

.vand_pos6 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 30%;
    background-size: 100%;
}

.vand_pos7 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 35%;
    background-size: 100%;
}

.vand_pos8 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 40%;
    background-size: 100%;
}

.vand_pos9 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 45%;
    background-size: 100%;
}

.vand_pos10 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 50%;
    background-size: 100%;
}

.vand_pos11 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 55%;
    background-size: 100%;
}

.vand_pos12 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 60%;
    background-size: 100%;
}

.vand_pos13 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 65%;
    background-size: 100%;
}

.vand_pos14 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 70%;
    background-size: 100%;
}

.vand_pos15 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 75%;
    background-size: 100%;
}

.vand_pos16 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 80%;
    background-size: 100%;
}

vand_pos17 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 85%;
    background-size: 100%;
}

vand_pos18 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 90%;
    background-size: 100%;
}

vand_pos19 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 100%;
    background-size: 100%;
}

/*** UI ***/
#points {

    position: absolute;
    top: 70%;
    left: 83%;
    font-family: sans-serif;
    font-size: 2rem;
    display: flex;
    background-size: 100%;

}

.vand {

    background-image: url(vand.svg);
    background-size: 100%;
    width: 2rem;
    height: 2rem;
}

.antal {

    font-feature-settings: tnum;
    width: 6rem;
    text-align: right;
}

#energy {

    position: absolute;
    top: 82%;
    left: 83%;
    background-size: 100%;
    display: inline-flex;
    justify-content: space-between;

}

.liv {

    width: 3rem;
    height: 3rem;
    background-image: url(liv.svg);
    background-size: 100%;

}

/******************* slut spilskærm *********************/
/**************** start instillingsskærm *********************/


#instillinger2 {


    background-image: url(instillinger2.svg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 20%;
    left: 35%;
    background-size: 30%;

}

#Lydlos {


    background-image: url("Lydlos.svg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 27%;
    left: 42%;
    background-size: 8%;

}



#Lyd {

    background-image: url("Lyd.svg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 29%;
    left: 35%;
    background-size: 8%;

}

#Lydlos_kopi {


    background-image: url("Lydlos_kopi.svg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 42%;
    left: 42%;
    background-size: 8%;

}

#Lyd_kopi {

    background-image: url("Lyd_kopi.svg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 44%;
    left: 35%;
    background-size: 8%;

}

/***************** slut instillingsskærm *********************/
/**************** start gameover *********************/

#gameover {

    background-image: url("gameover2.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 8%;
    left: 23%;
    background-size: 60%;

}

#spil_igen {

    background-image: url("spil_igen.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 21vw;
    position: absolute;
    top: 38%;
    left: 40%;
    background-size: 30%;

}

/**************** slut gameover *********************/
/**************** start levelop *********************/

#levelop {

    background-image: url("level_op2.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 8%;
    left: 13%;
    background-size: 80%;
}

/**************** slut levelop *********************/
/**************** start animation *********************/

.falling {

    animation-name: falling;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling {

    from {
        top: 5vw;

    }

    to {
        top: 45vw;


    }

}

.falling1 {

    animation-name: falling1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling1 {

    from {
        top: 1vw;

    }

    to {
        top: 45vw;


    }

}

.falling2 {

    animation-name: falling2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling2 {

    from {
        top: 5vw;

    }

    to {
        top: 45vw;


    }

}

.falling2 {

    animation-name: falling2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling2 {

    from {
        top: 2vw;

    }

    to {
        top: 45vw;


    }

}

.falling3 {

    animation-name: falling3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling3 {

    from {
        top: 3vw;

    }

    to {
        top: 45vw;


    }

}

.falling4 {

    animation-name: falling4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling4 {

    from {
        top: 2vw;

    }

    to {
        top: 45vw;


    }

}

.falling5 {

    animation-name: falling5;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling5 {

    from {
        top: 1vw;

    }

    to {
        top: 45vw;


    }

}

.falling6 {

    animation-name: falling6;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling6 {

    from {
        top: 5vw;

    }

    to {
        top: 45vw;


    }

}

.falling7 {

    animation-name: falling7;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling7 {

    from {
        top: 4vw;

    }

    to {
        top: 24vw;


    }

}

.falling8 {

    animation-name: falling8;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling8 {

    from {
        top: 2vw;

    }

    to {
        top: 20vw;


    }

}

.falling9 {

    animation-name: falling9;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling9 {

    from {
        top: 3vw;

    }

    to {
        top: 25vw;


    }

}

.falling10 {

    animation-name: falling10;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling10 {

    from {
        top: 2vw;

    }

    to {
        top: 45vw;


    }

}

.falling11 {

    animation-name: falling11;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling11 {

    from {
        top: 5vw;

    }

    to {
        top: 45vw;


    }

}

.falling12 {

    animation-name: falling12;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling12 {

    from {
        top: 2vw;

    }

    to {
        top: 45vw;


    }

}

.falling13 {

    animation-name: falling13;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling13 {

    from {
        top: 4vw;

    }

    to {
        top: 40vw;


    }

}

.falling14 {

    animation-name: falling14;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling14 {

    from {
        top: 1vw;

    }

    to {
        top: 40vw;


    }

}

.falling15 {

    animation-name: falling15;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling15 {

    from {
        top: 4vw;

    }

    to {
        top: 40vw;


    }

}

.falling16 {

    animation-name: falling16;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling16 {

    from {
        top: 2vw;

    }

    to {
        top: 40vw;


    }

}

.falling17 {

    animation-name: falling17;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling17 {

    from {
        top: 3vw;

    }

    to {
        top: 40vw;


    }

}

.falling18 {

    animation-name: falling18;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling18 {

    from {
        top: 2vw;

    }

    to {
        top: 40vw;


    }

}

.side {

    animation-name: side;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes side {

    from {
        left: 5vw;

    }

    to {
        right: 22vw;


    }

}


.dissapear {

    animation-name: dissapear_kf;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes dissapear_kf {

    from {
        transform: scale(1);

    }

    to {
        transform: scale(0);


    }
}

.paused {
    animation-play-state: paused;

}

.hide {
    visibility: hidden;

}

.show {
    visibility: visible;

}

.blur {
    filter: blur(5px) brightness(80%);


}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-iteration-count: forwards;


}

@keyframes fadeout_kf {
    0% {
        opacity: 1;

    }

    100% {
        opacity: 0;

    }

}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1, 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;

}

@keyframes pulse_kf {
    0% {
        transform: scale(0.97);

    }

    100% {
        transform: scale (1);

    }

}

.shake {
    background-color: floralwhite;
    width: 100vw;
    height: 56.25vw;

    animation-name: shake_kf;
    animation-duration: .2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}

@keyframes shake_kf {
    0% {
        background-color: blue;
        transform: rotate(0) scale(1);

    }

    100% {
        background-color: floralwhite;
        transform: rotate(-10deg) scale (1, 5);

    }

}
