root {
    font-size: 2vw;

}

body {
    margin: 0;

}

#screen {
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
    position: relative;
}


#game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 56.25vw;
}

#play {

    background-image: url("start.svg");
    background-repeat: no-repeat;
    width: 30vw;
    height: 20vw;
    position: absolute;
    z-index: 1;
    top: 51%;
    left: 40%;
    background-size: 70%;
    cursor: pointer;

}

#start {

    position: absolute;
    width: 100vw;
    height: 56.25vw;
    top: 0%;
    left: 0%;
    background-size: 100%;
    position: relative;
    background-image: url('baggrund1.svg');
    background-repeat: no-repeat;
    margin: auto;

}

/****************** startskærm start ********************/


#pige {

    background-image: url("pige.svg");
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 49%;
    left: 68%;
    background-size: 80%;

}

#dreng {

    background-image: url("dreng.svg");
    background-repeat: no-repeat;
    width: 15vw;
    height: 17vw;
    position: absolute;
    top: 77%;
    right: 73%;
    background-size: 70%;
}

#snemand {

    background-image: url("snemand.svg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 56%;
    left: 65%;
    background-size: 16%;
}

#titel {

    background-image: url("melt2.png");
    background-repeat: no-repeat;
    width: 60vw;
    height: 27vw;
    position: absolute;
    top: 18%;
    left: 25%;
    background-size: 90%;


}

#titel2 {

    background-image: url("melt3.png");
    background-repeat: no-repeat;
    width: 25vw;
    height: 15vw;
    position: absolute;
    top: 36%;
    left: 42%;
    background-size: 80%;


}

#settings {

    background-image: url("instillinger.svg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 89%;
    background-size: 10%;

}

#vand1 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    z-index: 4;
    top: 42%;
    left: 72%;
    background-size: 100%;
}



/******************* slut startskærm *********************/
/******************* start spilskærm *********************/

#game_background {

    height: 100vw;
    width: 100vw;

    background-image: url('baggrund2.svg');
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    background-size: 100%;


}

#snemand2 {

    height: 50vw;
    width: 50vw;
    position: absolute;
    top: 35%;
    left: 35%;

    background-image: url("snemand2.svg");
    background-repeat: no-repeat;
    margin: auto;
    background-size: 70%;


}



#drober_liv {

    height: 30vw;
    width: 30vw;
    position: absolute;
    background-image: url("drober_liv.svg");
    background-repeat: no-repeat;
    top: 64%;
    left: 82%;
    background-size: 60%;


}

#timeglas {

    background-image: url("timeglas.svg");
    background-repeat: no-repeat;
    height: 12vw;
    width: 15vw;
    position: absolute;
    top: 2%;
    left: 93%;
    background-size: 50%;
}

#sky1 {

    background-image: url("sky1.png");
    background-repeat: no-repeat;
    width: 23vw;
    height: 11vw;
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 45%;
    background-size: 100%;


}

#sky2 {

    background-image: url("sky1.png");
    background-repeat: no-repeat;
    width: 23vw;
    height: 11vw;
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 15%;
    background-size: 100%;


}

#sky3 {

    background-image: url("sky1.png");
    background-repeat: no-repeat;
    width: 23vw;
    height: 11vw;
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 75%;
    background-size: 100%;


}

#vand {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 50%;
    background-size: 100%;
}

#vand2 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 70%;
    background-size: 100%;
}

#vand3 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 30%;
    background-size: 100%;
}

#vand4 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 40%;
    background-size: 100%;
}

#vand5 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 10%;
    background-size: 100%;
}

#vand6 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 60%;
    background-size: 100%;
}

#vand7 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 80%;
    background-size: 100%;
}

#vand8 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 90%;
    background-size: 100%;
}

#vand9 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 20%;
    background-size: 100%;
}

#vand10 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 25%;
    background-size: 100%;
}

#vand11 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 55%;
    background-size: 100%;
}

#vand12 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 35%;
    background-size: 100%;
}

#vand13 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 45%;
    background-size: 100%;
}

#vand14 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 65%;
    background-size: 100%;
}

#vand15 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 75%;
    background-size: 100%;
}

#vand16 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 85%;
    background-size: 100%;
}

#vand17 {

    background-image: url("vand.svg");
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 15%;
    background-size: 100%;
}



/******************* slut spilskærm *********************/
/**************** start instillingsskærm *********************/


#instillinger2 {


    background-image: url(instillinger2.svg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 20%;
    left: 35%;
    background-size: 30%;

}

#Lydlos {


    background-image: url("Lydlos.svg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 27%;
    left: 42%;
    background-size: 8%;

}



#Lyd {

    background-image: url("Lyd.svg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 29%;
    left: 35%;
    background-size: 8%;

}

#Lydlos_kopi {


    background-image: url("Lydlos_kopi.svg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 42%;
    left: 42%;
    background-size: 8%;

}

#Lyd_kopi {

    background-image: url("Lyd_kopi.svg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 44%;
    left: 35%;
    background-size: 8%;

}

/***************** slut instillingsskærm *********************/
/**************** start gameover *********************/

#gameover {

    background-image: url("gameover2.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 8%;
    left: 23%;
    background-size: 60%;

}

#spil_igen {

    background-image: url("spil_igen.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 21vw;
    position: absolute;
    top: 38%;
    left: 40%;
    background-size: 30%;

}

/**************** slut gameover *********************/
/**************** start levelop *********************/

#levelop {

    background-image: url("level_op2.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 8%;
    left: 13%;
    background-size: 80%;
}

/**************** slut levelop *********************/
/**************** start animation *********************/

.falling {

    animation-name: falling;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling {

    from {
        top: 5vw;

    }

    to {
        top: 22vw;


    }

}

.falling {

    animation-name: falling;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes falling {

    from {
        top: 5vw;

    }

    to {
        top: 40vw;


    }

}

.side {

    animation-name: side;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes side {

    from {
        left: 5vw;

    }

    to {
        right: 22vw;


    }

}


.dissapear {

    animation-name: dissapear;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes dissapear {

    from {
        transform: scale(1);

    }

    to {
        transform: scale(0);


    }
}

.paused {
    animation-play-state: paused;

}

.hide {
    visibility: hidden;

}

.show {
    visibility: visible;

}

.blur {
    filter: blur(5px) brightness(80%);


}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-iteration-count: forwards;


}

@keyframes fadeout_kf {
    0% {
        opacity: 1;

    }

    100% {
        opacity: 0;

    }

}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1, 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;

}

@keyframes pulse_kf {
    0% {
        transform: scale(0.97);

    }

    100% {
        transform: scale (1);

    }

}
